[credential]
	helper = store
[user]
	name = Faiz Surani
	email = faiz.surani@gmail.com
[alias]
	st = status
        s = status
	br = branch
        dfs = diff --staged
        l = log --oneline -n 10
        a = add
        aa = add -A
        au = add -u
        c = commit
	cm = commit -m
	amend = commit --amend --no-edit
	ama = commit --amend --no-edit -a
	wip = !git add -A && git commit -m 'WIP'
        edit = commit --amend
        fix = commit -m "fixup"
        refl = reflog
        rb = rebase
        rbn = "!f() { git rebase -i HEAD~$1; }; f"
	rbi = rebase -i
	rbc = rebase --continue
        rba = rebase --abort
	cp = cherry-pick
	cpc = cherry-pick --continue
	cpa = cherry-pick --abort
	hide = update-index --assume-unchanged
    	unhide = update-index --no-assume-unchanged
	cb = checkout -b
	co = checkout
        sh = stash
        sp = stash pop
	back = reset --soft HEAD~
        rs = reset
        f = fetch
        gimme = !git fetch && git reset --hard @{u}
        p = push
        pf = push -f
        pl = pull
        pp = push --set-upstream origin HEAD
        shove = push --set-upstream origin HEAD
[core]
	excludesfile = ~/.gitignore
	fileMode = false
[hub]
	protocol = https
[commit]
	gpgSign = true
[includeIf "gitdir:/Users/"]
	path=~/.gitconfig-mac
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
