[credential]
	helper = store
[user]
	name = Faiz Surani
	email = faiz.surani@gmail.com
	signingkey = C26623C031CA07D5
[alias]
	st = status
	br = branch
        l = log --oneline -n 10
	amend = commit --amend --no-edit
        edit = commit --amend
        rb = rebase
        rbl = "!f() { git rebase -i HEAD~$1; }; f"
	rbi = rebase -i
	rbc = rebase --continue
        rba = rebase --abort
	cp = cherry-pick
	cpc = cherry-pick --continue
	cpa = cherry-pick --abort
	hide = update-index --assume-unchanged
    	unhide = update-index --no-assume-unchanged
	cm = commit
	cb = checkout -b
	wip = !git add -A && git commit -m 'WIP'
	back = reset --soft HEAD~
        gimme = !git fetch && git reset --hard @{u}
        shove = push --set-upstream origin HEAD
        dfs = diff --staged
        pf = push -f
[core]
	excludesfile = ~/.gitignore
	fileMode = false
[hub]
	protocol = https
[commit]
	gpgSign = true
[includeIf "gitdir:/Users/"]
	path=~/.gitconfig-mac
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
