[credential]
	helper = store
[user]
	name = Faiz Surani
	email = faiz.surani@gmail.com
	signingkey = C26623C031CA07D5
[alias]
	st = status
	br = branch
	amend = commit --amend --no-edit
        edit = commit --amend
	rbi = rebase -i
	rbc = rebase --continue
        rba = rebase --abort
	cp = cherry-pick
	hide = update-index --assume-unchanged
    	unhide = update-index --no-assume-unchanged
	cm = commit -m
	cb = checkout -b
	wip = !git add -A && git commit -m 'WIP'
	back = reset --soft HEAD~
        shove = push --set-upstream origin HEAD
        dfs = diff --staged
[core]
	excludesfile = ~/.gitignore
	fileMode = false
[hub]
	protocol = https
[commit]
	gpgSign = true
[includeIf "gitdir:/Users/"]
	path=~/.gitconfig-mac
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = master
